.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.html
*.png
*.jpg
*.pdf
*.xlsx
*.txt
*.db
*.json
*.pyc
*.error
*.out
outputs/
lora_model/
fine_tuned_models/
.ipynb_checkpoints/
__pycache__/
_unsloth_sentencepiece_temp
llama.ccp/
llama.ccp
_unsloth_temporary_saved_buffers/
llama.cpp
